.main-container {
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;

p {
  margin: 14px;
}

  &__details {
    display: flex;
    flex-flow: column wrap;

    &--holder {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
        .attacks {
          display: flex;
          flex-direction: column;
        }

    &--property {
      font-weight: bold;;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;

    img {
      height: 600px;
    }

  }
  &__bottom-subtitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  &__bottom {
    display: flex;
    flex-flow: row wrap;
  }

  .similar-pokemons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;

    &__single-creature {
      max-height: 250px;
    }
  }
  .unique-card {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
}
