<mat-dialog-content class="main-container">
  <div class="main-container__top">

    <div class="main-container__image">
      <img [src]="card.imageUrl" alt="Pokemon image" />
    </div>

    <div class="main-container__details">

    <div *ngIf="card.name" class='main-container__details--holder'>
      <p class="main-container__details--property">Name:</p>
      <p>{{ card.name }}</p>
    </div>

    <div *ngIf="card.supertype" class='main-container__details--holder'>
      <p class="main-container__details--property">Super type:</p>
      <p>{{ card.supertype }}</p>
    </div>

    <div *ngIf="card.id" class='main-container__details--holder'>
      <p class="main-container__details--property">Id:</p>
      <p>{{ card.id }}</p>
    </div>

    <div *ngIf="card.series" class='main-container__details--holder'>
      <p class="main-container__details--property">Series:</p>
      <p>{{ card.series }}</p>
    </div>

    <div *ngIf="card.types" class='main-container__details--holder'>
      <p class="main-container__details--property">Type:</p>
      <p>{{ card.types }}</p>
    </div>

    <div *ngIf="card.rarity" class='main-container__details--holder'>
      <p class="main-container__details--property">Rarity:</p>
      <p>{{ card.rarity }}</p>
    </div>

    <div *ngIf="card.hp" class='main-container__details--holder'>
      <p class="main-container__details--property">Health Points:</p>
      <p>{{ card.hp }}</p>
    </div>

    <div *ngIf="card.evolvesFrom" class='main-container__details--holder'>
      <p class="main-container__details--property">Evolves from:</p>
      <p>{{ card.evolvesFrom }}</p>
    </div>

    <div *ngIf="card.weaknesses" class='main-container__details--holder'>
      <p class="main-container__details--property">Weaknesses:</p>
      <p *ngFor="let weakness of card.weaknesses; let i = index">{{ card.weaknesses[i].type }} {{ card.weaknesses[i].value }}</p>
    </div>

    <div *ngIf="card.attacks" class='main-container__details--holder'>
      <p class="main-container__details--property">Attacks:</p>
      <div class="attacks">
      <p *ngFor="let attacks of card.attacks; let i = index">{{ card.attacks[i].name }}</p>
    </div>

  </div>
</div>
</div>
<p class="main-container__bottom-subtitle">SIMILAR POKEMONS:</p>
<div *ngIf='similarPokemons$; else that' class="main-container__bottom">
  <div *ngFor="let pokemon of similarPokemons$ | async; let i = index">
    <div *ngIf="card.id !== pokemon.id  &&  i <= 3" class="similar-pokemons">
      <img [src]="pokemon.imageUrl" alt="Pokemon image" class="similar-pokemons__single-creature"/>
    </div>
  </div>
</div>
<ng-template #that>
  <p class="unique-card">This card is one and only. We can't find any similar to this one!</p>
</ng-template>
</mat-dialog-content>
