.main-container {
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
  @media (min-width: 1192px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 400px;

    .example-viewport {
      height: 90vh;
      width: 90vw;
    }

    &__single-card {
      margin: 12px;
      border-style: groove;
      width: 20%;
      float: left;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &--image {
        margin: 10px;
        height: 400px;
      }
      &--image:hover {
        transform: scale(1.2);
        cursor: pointer;
        opacity: 0.8;
      }
      &--details {
        display: flex;
        justify-content: center;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 1192px) {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    .example-viewport {
      height: 90vh;
      max-width: 420px;
    }

    &__single-card {
      margin: 12px;
      width: 100%;
      border-style: groove;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &--image {
        margin: 10px;
        height: 50vh;
      }

      &--details {
        display: flex;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
}

.main-navbar {
  display: flex;
  justify-content: center;
}
.scroll-viewport {
  height: 90vh;
  width: 90vw;
}
