<mat-toolbar class="main-navbar">Your own Pokemon browser</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<div class="main-container">
  <cdk-virtual-scroll-viewport
    #scrollViewPort
    itemSize="500"
    class="scroll-viewport"
  >
    <div *cdkVirtualFor="let cards of displayCards">
      <div *ngFor="let card of cards" class="main-container__single-card">
        <img
          class="main-container__single-card--image"
          [src]="card.imageUrl"
          alt="Pokemon image"
          [routerLink]="'/' + card.id"
        />
        <p class="main-container__single-card--details">
          {{ card.supertype }}
        </p>
        <p class="main-container__single-card--details">
          Name: {{ card.name }}
        </p>
      </div>
    </div>
    <div *ngIf="limitReached">This is it. No more Pokemons :(</div>
  </cdk-virtual-scroll-viewport>
</div>
